<%- include('partials/header', { title: 'Admin Panel', jsFile: 'adminPanel' })
%>
<body>
  <div id="loading" class="loading">
    <div class="spinner"></div>
  </div>
  <div class="container">
    <h1>Admin Panel</h1>

    <%- include('partials/user-info') %> <%- include('partials/tracker-switch',
    { navItems: navItems, currentPage: "panel" }) %><%-
    include('partials/alerts') %>

    <div class="admin-stats">
      <div class="stat-card">
        <h3>System Status</h3>
        <p>
          Debug Mode: <%= isDebugMode ? 'Eingeschaltet' : 'Ausgeschaltet' %>
        </p>
        <p>
          Discord Debug: <%= isDiscordDebug ? 'Eingeschaltet' : 'Ausgeschaltet'
          %>
        </p>
        <p>Environment: <%= NODE_ENV %></p>
      </div>
    </div>

    <div class="admin-controls">
      <button
        id="toggleDebugMode"
        class="<%= isDebugMode ? 'button button-turn-off' : 'button' %>"
      >
        <%= isDebugMode ? 'Debug Mode Ausschalten' : 'Debug Mode Einschalten' %>
      </button>
      <button
        id="toggleDiscordDebug"
        class="<%= isDiscordDebug ? 'button button-turn-off' : 'button' %>"
      >
        <%= isDiscordDebug ? `Discord Debug Mode Ausschalten` : `Discord Debug
        Mode Einschalten` %>
      </button>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
