<%- include('partials/header', { title: 'Admin Panel', jsFile: 'adminPanel', })
%>
<body>
  <div class="container">
    <h1>Admin Panel</h1>

    <%- include('partials/user-info') %> <%- include('partials/tracker-switch',
    { navItems: navItems, currentPage: "panel" }) %><%-
    include('partials/alerts') %>

    <div class="admin-stats">
      <h3>System Status</h3>
      <p>Debug Mode: <%= isDebugMode ? 'Eingeschaltet' : 'Ausgeschaltet' %></p>
      <p>
        Discord Debug: <%= isDiscordDebug ? 'Eingeschaltet' : 'Ausgeschaltet' %>
      </p>
      <p>Environment: <%= NODE_ENV %></p>
    </div>

    <div class="admin-controls">
      <button
        id="toggleDebugMode"
        class="<%= isDebugMode ? 'button button-turn-off' : 'button' %>"
      >
        <%= isDebugMode ? 'Debug Mode Ausschalten' : 'Debug Mode Einschalten' %>
      </button>
      <button
        id="toggleDiscordDebug"
        class="<%= isDiscordDebug ? 'button button-turn-off' : 'button' %>"
      >
        <%= isDiscordDebug ? `Discord Debug Mode Ausschalten` : `Discord Debug
        Mode Einschalten` %>
      </button>
    </div>

    <div class="admin-settings">
      <label for="discordWebhookUrl">Discord Webhook URL:</label>
      <div class="admin-settings-input">
        <input
          type="text"
          id="discordWebhookUrl"
          value="<%= discordWebhookUrl %>"
          class="form-input"
          placeholder="Enter Discord Webhook URL"
        />
        <button id="saveWebhookUrl" class="button">Speichern</button>
      </div>
      <label for="locale">Sprache (nur Logs):</label>
      <div class="admin-settings-input">
        <input
          type="text"
          id="locale"
          value="<%= locale %>"
          class="form-input"
          placeholder="Enter Locale"
        />
        <button id="saveLocale" class="button">Speichern</button>
      </div>
      <label for="timezone">Zeitzone (nur Logs):</label>
      <div class="admin-settings-input">
        <input
          type="text"
          id="timezone"
          value="<%= timezone %>"
          class="form-input"
          placeholder="Enter Timezone"
        />
        <button id="saveTimezone" class="button">Speichern</button>
      </div>
      <label for="serverIp"
        >Server IP (Logs von dieser IP werden ausgeblendet):</label
      >
      <div class="admin-settings-input">
        <input
          type="text"
          id="serverIp"
          value="<%= serverIp %>"
          class="form-input"
          placeholder="Enter Server IP"
        />
        <button id="saveServerIp" class="button">Speichern</button>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
