<%- include('partials/header', { title: 'Termin Panel', jsFile: 'schedulesPanel'
}) %>
<body>
  <div class="container">
    <h1>Termine</h1>

    <%- include('partials/tracker-switch', { navItems: navItems, currentPage:
    "panel" }) %><%- include('partials/alerts') %>

    <div class="log-controls">
      <input
        type="text"
        id="scheduleSearch"
        placeholder="Termine durchsuchen..."
        class="form-input"
      />
    </div>

    <div class="logs-container">
      <div id="logEntries">
        <% schedules.forEach(function(schedule) { %> <% try { %>
        <div
          class="log-entry"
          id="schedule-entry"
          data-timestamp="<%= schedule.next_date %>"
        >
          <div class="log-entry-header">
            <span id="schedule-amount" class="log-timestamp"
              ><%= (schedule._amount / 100).toFixed(2) %>€</span
            >
            <span
              id="schedule-date"
              class="log-level <%= schedule.next_date < new Date().toISOString().split('T')[0] ? 'error' : schedule.next_date == new Date().toISOString().split('T')[0] ? 'warn' : 'info' %>"
              ><%= formatDateTime(schedule.next_date).split(',')[0] %></span
            >
          </div>
          <div class="log-entry-content">
            <span class="log-message" id="schedule-name"
              ><%= schedule.name %></span
            >
          </div>
        </div>
        <% } catch(e) { %>
        <div class="log-entry">
          <span class="log-message"
            >Error parsing schedule: <%= e.message %></span
          >
        </div>
        <% } %> <% }); %>
      </div>
    </div>

    <%- include('partials/footer') %>
  </div>
</body>
