<%- include('partials/header', { title: 'Schedules Panel', jsFile:
'schedulesPanel' }) %>
<body>
  <div class="container">
    <h1>Schedules Panel</h1>

    <%- include('partials/tracker-switch', { navItems: navItems, currentPage:
    "panel" }) %><%- include('partials/alerts') %>

    <div class="logs-container">
      <div id="logEntries">
        <% schedules.forEach(function(schedule) { %> <% try { %>
        <div
          class="log-entry"
          data-level="<%= schedule.next_date %>"
          data-timestamp="<%= schedule.next_date %>"
        >
          <div class="log-entry-header">
            <span class="log-timestamp"
              ><%= (schedule._amount / 100).toFixed(2) %>€</span
            >
            <span
              class="log-level <%= schedule.next_date < new Date().toISOString().split('T')[0] ? 'error' : schedule.next_date == new Date().toISOString().split('T')[0] ? 'warn' : 'info' %>"
              ><%= formatDateTime(schedule.next_date).split(',')[0] %></span
            >
          </div>
          <div class="log-entry-content">
            <span class="log-message"><%= schedule.name %></span>
          </div>
        </div>
        <% } catch(e) { %>
        <div class="log-entry">
          <span class="log-message"
            >Error parsing schedule: <%= e.message %></span
          >
        </div>
        <% } %> <% }); %>
      </div>
    </div>

    <%- include('partials/footer') %>
  </div>
</body>
