<%- include('partials/header', { title: 'Transaktionstracker', jsFile:
'transactionTracker' }) %>
<body data-debug-mode="<%= isDebugMode %>">
  <div id="loading" class="loading">
    <div class="spinner"></div>
  </div>
  <div class="container">
    <h1>Transaktionstracker</h1>

    <%- include('partials/user-info') %> <%- include('partials/tracker-switch',
    { navItems: navItems, currentPage: trackerType }) %> <%-
    include('partials/alerts') %>

    <form action="/" method="POST" id="transactionForm">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="trackerType" value="<%= trackerType %>" />
      <!-- Formularfelder -->
      <div class="form-group">
        <label for="date">Datum <span class="required">*</span></label>
        <div class="input-group">
          <input
            type="date"
            id="date"
            name="date"
            value="<%= currentDate %>"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="amount">
          Betrag <span class="required">*</span>
          <span class="info">(-1.00€ = Ausgaben, 1.00€ = Einnahmen)</span>
        </label>
        <div class="input-group">
          <input
            type="number"
            id="amount"
            name="amount"
            step="0.01"
            placeholder="0.00"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="category">Kategorie <span class="required">*</span></label>
        <div class="input-group">
          <select id="category" name="category" required>
            <% categories.forEach(function(cat) { %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="notes">Notizen</label>
        <div class="input-group">
          <input
            type="text"
            id="notes"
            name="notes"
            placeholder="Ich bin eine Notiz"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="payeeSelect"
          >Transaktionsteilnehmer <span class="required">*</span></label
        >
        <div class="input-group">
          <select id="payeeSelect" name="payee_id" required>
            <% payees.forEach(function(payee) { %> <% if (payee.name !== 'Geld'
            && payee.name !== 'Kaffee') { %>
            <option value="<%= payee.id %>"><%= payee.name %></option>
            <% } %> <% }); %>
            <option value="new">Neuen Teilnehmer hinzufügen</option>
          </select>
        </div>
      </div>

      <div class="form-group" id="newPayeeDiv">
        <label for="new_payee">Neuer Teilnehmer</label>
        <div class="input-group">
          <input
            type="text"
            id="new_payee"
            name="new_payee"
            placeholder="Neuen Teilnehmer eingeben"
          />
        </div>
      </div>
      <button type="submit">Eintrag hinzufügen</button>
    </form>

    <%- include('partials/footer') %>
  </div>
</body>
