<%- include('partials/header', { title: 'User Panel', jsFile: 'userPanel' }) %>
<body>
  <div class="container">
    <h1>User Panel</h1>

    <%- include('partials/tracker-switch', { navItems: navItems, currentPage:
    "panel" }) %><%- include('partials/alerts') %>
    <div class="user-panel">
      <% if (userEmail) { %>
      <div class="user-info">
        Eingeloggt als: <%= userEmail %> (<%= userGroups %>)
      </div>

      <% } %>
    </div>

    <div class="alert error">
      Leider ist diese Seite noch nicht fertiggestellt! Komme später wieder.
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
