<nav class="navbar">
  <div class="main-nav">
    <a
      href="/"
      class="<%= navItems.currentSection === 'tracker' ? 'active' : '' %>"
      >Tracker</a
    >
    <a
      href="/transactions"
      class="<%= navItems.currentSection === 'transactions' ? 'active' : '' %>"
      >Transaktionen</a
    >
    <a
      href="/schedules"
      class="<%= navItems.currentSection === 'schedules' ? 'active' : '' %>"
      >Termine</a
    >
    <a
      href="/user"
      class="<%= navItems.currentSection === 'user' ? 'active' : '' %>"
      >User</a
    >
    <% if (userGroups.includes('global-admins')) { %>
    <a
      href="/admin"
      class="<%= navItems.currentSection === 'admin' ? 'active' : '' %>"
      >Admin</a
    >
    <% } %>
    <a href="/auth/logout">Logout</a>
  </div>

  <% if (navItems.items && navItems.items.length > 0 && !(navItems.items.length
  === 1 && navItems.items[0].id === "panel")) { %>
  <div class="secondary-nav">
    <% navItems.items.forEach(function(item) { %>
    <a
      href="<%= item.url %>"
      class="<%= currentPage === item.id ? 'active' : '' %>"
    >
      <%= item.label %>
    </a>
    <% }); %>
  </div>
  <% } %>
</nav>
